<%- include('./partials/head') %>
<section class="banner">
    <img class="profile-picture" src="/img/profile-picture.jpg" alt="profiel foto" width="190" height="190">
    <h1 class="page">Gebruiker's Pagina</h1>
</section>
    <!--Voor Jou-->

    <section class="content-wrapper">

<!--for you details (hidden)-->
        <div class="for-you-details">
            <button class="details-close-buttons" id="forYouDetailsCloseButton">Sluiten</button>
            <section class="details-item-container">
        <% apiItems.forEach(function(apiItem) { %>

                <img class="bookCarouselImg" src='https://fdnd-agency.directus.app/assets/<%= apiItem.afbeelding %>'
                     alt="<%= apiItem.title %>" width="200" height="300">

        <% }) %>
            </section>
    </div>

        <!--favorites details (hidden)-->
        <div class="favorites-details">
            <button class="details-close-buttons" id="favoritesCloseButton">Sluiten</button>
            <section class="details-item-container">
            <% apiItems.forEach(function(apiItem) { %>

                <img class="bookCarouselImg" src='https://fdnd-agency.directus.app/assets/<%= apiItem.afbeelding %>'
                     alt="<%= apiItem.title %>" width="200" height="300">

            <% }) %>
            </section>
        </div>

        <!--borrowed books details (hidden)-->
        <div class="borrowed-books-details">
            <button class="details-close-buttons" id="borrowedBooksCloseButton">Sluiten</button>
            <section class="details-item-container">
            <% apiItems.forEach(function(apiItem) { %>

                <img class="bookCarouselImg" src='https://fdnd-agency.directus.app/assets/<%= apiItem.afbeelding %>'
                     alt="<%= apiItem.title %>" width="200" height="300">

            <% }) %>
            </section>
        </div>

<!--main page content-->
    <section class="for-you">

        <div class="details">
            <h2>Voor Jou</h2>
                <button class="details-buttons" id="forYoudetailsButton">Alles Weergeven</button>
            </div>
            <ul class="carousel">
                <% apiItems.forEach(function(apiItem) { %>
                    <li class="carousel-items">
                        <img class="bookCarouselImg"
                             src='https://fdnd-agency.directus.app/assets/<%= apiItem.afbeelding %>'
                             alt="<%= apiItem.title %>" width="200" height="300">
                    </li>
                <% }) %>
            </ul>
    </section>

    <section class="favourites">
        <div class="details">
            <h2>Favorieten</h2>
            <button class="details-buttons" id="favoritesButton">Alles Weergeven</button>
        </div>
        <ul class="carousel">
            <% apiItems.forEach(function(apiItem) { %>
                <li class="carousel-items">
                    <img class="bookCarouselImg" src='https://fdnd-agency.directus.app/assets/<%= apiItem.afbeelding %>'
                         alt="<%= apiItem.title %>" width="200" height="300">
                </li>
            <% }) %>
        </ul>
    </section>

    <section class="borrowed">
        <div class="details">
            <h2>Geleende Boeken</h2>
            <button class="details-buttons" id="borrowedBooksButton">Alles Weergeven</button>
        </div>
        <ul class="carousel">
            <% apiItems.forEach(function(apiItem) { %>
                <li class="carousel-items">
                    <img class="bookCarouselImg" src='https://fdnd-agency.directus.app/assets/<%= apiItem.afbeelding %>'
                         alt="<%= apiItem.title %>" width="200" height="300">
                </li>
            <% }) %>
        </ul>
    </section>

    </section>
<%- include('./partials/foot') %>









